#top {
  display: flex;
  background-color: #636c79;
  margin: 0 -150px;
  padding: 50px 150px;
  height: 100%;
  align-items: center;
  /* background-color: turquoise; */
}

.top-left {
  flex: 1;
}

.top-left img {
  width: 500px;
  height: 400px;
}

.top-right {
  flex: 1;
  padding-left: 20px;
}

.top-right h1 {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 55px;
}

.top-right p {
  font-family: 'Roboto', sans-serif;
  color: #c9ccd0;
  font-size: 20px;
  line-height: 1.7;
  margin: 40px 0;
  text-align: justify;
}

.form {
  position: relative;
}

.form i {
  position: absolute;
  left: 0;
  top: 25px;
  padding-left: 10px;
}

.form input {
  height: 70px;
  width: 50%;
  margin-left: -10px;
  margin-right: -10px;
  border: none;
  font-size: smaller;
  padding-left: 80px;
}


.form button {
  background-color: #8bb7a2;
  box-shadow: none;
  height: 70px;
  width: 180px;
  color: #ffffff;
  border: 7px solid #ffffff;
  font-size: smaller;
  cursor: pointer;
}