/* Mobile Devices */
@media (max-width: 480px) {
  .body {
    padding: 0 10px;
  }
  
  #navbar i {
    padding-right: 20px;
  }
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  #top {
    flex-direction: column-reverse;
    height: 100%;
    text-align: center;
    /* padding: 0 150px; */
  }
  .top-right p {
    padding-right: 20px;
  }
  .top-right h1 {
    padding-right: 20px;
  }
  .top-left img {
    width: 300px;
    height: 200px;
    margin-top: 50px;
  }
  .form button {
    width: 100px;
  }
  .form input {
    padding-left: 10px;
    width: 60%;
  }
  .form i {
    display: none;
  }
  .top-right h1 {
    font-size: 40px;
  }
  .mid-1-img img {
    width: 100%;
    height: 300px;
  }
  .stats h3 {
    font-size: x-large;
  }
  .stats p {
    font-size: 12px;
  }
  .mid-2-center {
    flex-direction: column;
    text-align: center;
  }
  .mid-2-center-left {
    padding-bottom: 50px;
    padding-right: 0;
  }
  .mid-2-center-left p {
    text-align: justify;
    padding: 0 20px;
  }
  .mid-2-center-right img {
    width: 350px;
    height: 350px;
  }
  .mid-3 {
    flex-direction: column-reverse;
    margin-left: 0;
    /* background-color: bisque; */
  }
  .mid-3-right {
    padding-left: 0;
    text-align: center;
    padding-bottom: 50px;
  }
  .mid-3-right p {
    padding: 0 20px;
  }
  .mid-4 {
    flex-direction: column;
    text-align: center;
  }
  .mid-4-left {
    padding-bottom: 50px;
    padding-right: 0;
  }
  .mid-4-right img {
    width: 350px;
    height: 350px;
  }
}


/* ipads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  #top {
    flex-direction: column-reverse;
    height: 100%;
    text-align: center;
  }
  .top-left img {
    width: 400px;
    height: 300px;
    margin-top: 50px;
  }
  .form button {
    width: 150px;
  }
  .form input {
    padding-left: 10px;
    width: 50%;
  }
  .form i {
    display: none;
  }
  .mid-1-img img {
    width: 100%;
    height: 500px;
  }
  .stats h3 {
    font-size: x-large;
  }
  .stats p {
    font-size: 12px;
  }
  .mid-2-center {
    flex-direction: column;
    text-align: center;
  }
  .mid-2-center-left {
    padding-bottom: 50px;
    padding-right: 0;
  }
  .mid-3 {
    flex-direction: column-reverse;
    margin-left: 0;
    /* background-color: bisque; */
  }
  .mid-3-right {
    padding-left: 0;
    text-align: center;
    padding-bottom: 50px;
  }
  .mid-4 {
    flex-direction: column;
    text-align: center;
  }
  .mid-4-left {
    padding-bottom: 50px;
    padding-right: 0;
  }
}


/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .nav-mid {
    display: none;
  }
  .nav-right {
    display: none;
  }
  #top {
    flex-direction: column-reverse;
    height: 100%;
  }
  .top-left img {
    margin-top: 50px;
  }
  .mid-2-center {
    flex-direction: column;
    text-align: center;
  }
  .mid-2-center-left {
    padding-bottom: 50px;
    padding-right: 0;
  }
  .mid-3 {
    flex-direction: column-reverse;
    margin-left: 0;
    /* background-color: bisque; */
  }
  .mid-3-right {
    padding-left: 0;
    text-align: center;
    padding-bottom: 50px;
  }
  .mid-4 {
    flex-direction: column;
    text-align: center;
  }
  .mid-4-left {
    padding-bottom: 50px;
    padding-right: 0;
  }
}


/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  #navbar i {
    display: none;
  }
  .nav-mid a {
    margin-right: 30px;
  }
  
  .top-left img {
    width: 400px;
    height: 400px;
  }
  .top-right h1 {
    font-size: 40px;
  }
  .mid-2-center-right img {
    width: 500px;
    height: 400px;
  }
  .mid-4-right img {
    width: 500px;
    height: 400px;
  }
}


/* Extra large screens, TV */
@media (min-width: 1201px) {
  #navbar i {
    display: none;
  }
}